<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.hnust.mapper.AreaMapper">

	<!--实体映射-->
	<resultMap id="area" type="com.cn.hnust.pojo.Area">
		<!---->
		<id property="code" column="code" />
		<!---->
		<result property="areaNm" column="area_nm" />
		<!---->
		<result property="prov" column="prov" />
		<!---->
		<result property="city" column="city" />
		<!---->
		<result property="dist" column="dist" />
		<!---->
		<result property="areaTyp" column="area_typ" />
		<!---->
		<result property="parentId" column="parent_id" />
		<!---->
		<result property="searchCode" column="search_code" />
		<!---->
		<result property="searchName" column="search_name" />
		<!---->
		<result property="errMsg" column="err_msg" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		code,	area_nm,	prov,	city,	dist,	area_typ,	parent_id,	search_code,	search_name,	err_msg
	</sql>

	<!-- 通用查询条件-->
	<sql id="dynamicWhere">
		<where>
			<if test="code != null"> AND code = #{code} </if>
			<if test="areaNm != null"> AND area_nm = #{areaNm} </if>
			<if test="prov != null"> AND prov = #{prov} </if>
			<if test="city != null"> AND city = #{city} </if>
			<if test="dist != null"> AND dist = #{dist} </if>
			<if test="areaTyp != null"> AND area_typ = #{areaTyp} </if>
			<if test="parentId != null"> AND parent_id = #{parentId} </if>
			<if test="searchCode != null"> AND search_code = #{searchCode} </if>
			<if test="searchName != null"> AND search_name = #{searchName} </if>
			<if test="errMsg != null"> AND err_msg = #{errMsg} </if>
		</where>
	</sql>

	<!-- 查询所有数据 -->
	<select id="selectAll" resultMap="area">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM area
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="area" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM area
		 WHERE code = #{code}
	</select>

	<!-- 查询（根据实体查询） -->
	<select id="selectBySelected" resultMap="area">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM area
		 <include refid="dynamicWhere"/>
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 DELETE FROM area
		 WHERE code = #{code}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.cn.hnust.pojo.Area">
		 INSERT INTO area
 		(code,area_nm,prov,city,dist,area_typ,parent_id,search_code,search_name,err_msg) 
		 VALUES 
 		(#{code},#{areaNm},#{prov},#{city},#{dist},#{areaTyp},#{parentId},#{searchCode},#{searchName},#{errMsg}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.cn.hnust.pojo.Area">
		 INSERT INTO area
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="code != null">
				 code,
			</if>
			<if test="areaNm != null">
				 area_nm,
			</if>
			<if test="prov != null">
				 prov,
			</if>
			<if test="city != null">
				 city,
			</if>
			<if test="dist != null">
				 dist,
			</if>
			<if test="areaTyp != null">
				 area_typ,
			</if>
			<if test="parentId != null">
				 parent_id,
			</if>
			<if test="searchCode != null">
				 search_code,
			</if>
			<if test="searchName != null">
				 search_name,
			</if>
			<if test="errMsg != null">
				 err_msg,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="code!=null">
				 #{code},
			</if>
			<if test="areaNm!=null">
				 #{areaNm},
			</if>
			<if test="prov!=null">
				 #{prov},
			</if>
			<if test="city!=null">
				 #{city},
			</if>
			<if test="dist!=null">
				 #{dist},
			</if>
			<if test="areaTyp!=null">
				 #{areaTyp},
			</if>
			<if test="parentId!=null">
				 #{parentId},
			</if>
			<if test="searchCode!=null">
				 #{searchCode},
			</if>
			<if test="searchName!=null">
				 #{searchName},
			</if>
			<if test="errMsg!=null">
				 #{errMsg},
			</if>
		 </trim>
	</insert>

	<!-- 新增或修改 （匹配有值的字段）-->
	<insert id="replaceInsert" parameterType="com.cn.hnust.pojo.Area">
		 REPLACE INTO area
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="code != null">
				 code,
			</if>
			<if test="areaNm != null">
				 area_nm,
			</if>
			<if test="prov != null">
				 prov,
			</if>
			<if test="city != null">
				 city,
			</if>
			<if test="dist != null">
				 dist,
			</if>
			<if test="areaTyp != null">
				 area_typ,
			</if>
			<if test="parentId != null">
				 parent_id,
			</if>
			<if test="searchCode != null">
				 search_code,
			</if>
			<if test="searchName != null">
				 search_name,
			</if>
			<if test="errMsg != null">
				 err_msg,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="code!=null">
				 #{code},
			</if>
			<if test="areaNm!=null">
				 #{areaNm},
			</if>
			<if test="prov!=null">
				 #{prov},
			</if>
			<if test="city!=null">
				 #{city},
			</if>
			<if test="dist!=null">
				 #{dist},
			</if>
			<if test="areaTyp!=null">
				 #{areaTyp},
			</if>
			<if test="parentId!=null">
				 #{parentId},
			</if>
			<if test="searchCode!=null">
				 #{searchCode},
			</if>
			<if test="searchName!=null">
				 #{searchName},
			</if>
			<if test="errMsg!=null">
				 #{errMsg},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.cn.hnust.pojo.Area">
		 UPDATE area
 		 <set> 
			<if test="areaNm != null">
				 area_nm = #{areaNm},
			</if>
			<if test="prov != null">
				 prov = #{prov},
			</if>
			<if test="city != null">
				 city = #{city},
			</if>
			<if test="dist != null">
				 dist = #{dist},
			</if>
			<if test="areaTyp != null">
				 area_typ = #{areaTyp},
			</if>
			<if test="parentId != null">
				 parent_id = #{parentId},
			</if>
			<if test="searchCode != null">
				 search_code = #{searchCode},
			</if>
			<if test="searchName != null">
				 search_name = #{searchName},
			</if>
			<if test="errMsg != null">
				 err_msg = #{errMsg},
			</if>

 		 </set>
		 WHERE code = #{code}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.cn.hnust.pojo.Area">
		 UPDATE area
		 SET 
			 area_nm = #{areaNm},
			 prov = #{prov},
			 city = #{city},
			 dist = #{dist},
			 area_typ = #{areaTyp},
			 parent_id = #{parentId},
			 search_code = #{searchCode},
			 search_name = #{searchName},
			 err_msg = #{errMsg}
		 WHERE code = #{code}
	</update>

</mapper>