<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.hnust.mapper.UserTtMapper">

	<!--实体映射-->
	<resultMap id="userTt" type="com.cn.hnust.pojo.UserTt">
		<!--UUID-->
		<id property="uuid" column="uuid" />
		<!--编号-->
		<result property="id" column="id" />
		<!--姓名-->
		<result property="userName" column="user_name" />
		<!--密码-->
		<result property="password" column="password" />
		<!--年龄-->
		<result property="age" column="age" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	id,	user_name,	password,	age
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultMap="userTt" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM user_tt
		 WHERE uuid = #{uuid}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		 DELETE FROM user_tt
		 WHERE uuid = #{uuid}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.cn.hnust.pojo.UserTt">
		 INSERT INTO user_tt
 		(uuid,id,user_name,password,age) 
		 VALUES 
 		(#{uuid},#{id},#{userName},#{password},#{age}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.cn.hnust.pojo.UserTt">
		 INSERT INTO user_tt
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="uuid != null">
				 uuid,
			</if>
			<if test="id != null">
				 id,
			</if>
			<if test="userName != null">
				 user_name,
			</if>
			<if test="password != null">
				 password,
			</if>
			<if test="age != null">
				 age,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="uuid!=null">
				 #{uuid},
			</if>
			<if test="id!=null">
				 #{id},
			</if>
			<if test="userName!=null">
				 #{userName},
			</if>
			<if test="password!=null">
				 #{password},
			</if>
			<if test="age!=null">
				 #{age},
			</if>
		 </trim>
	</insert>

	<!-- 新增或修改 （匹配有值的字段）-->
	<insert id="replaceInsert" parameterType="com.cn.hnust.pojo.UserTt">
		 REPLACE INTO user_tt
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="uuid != null">
				 uuid,
			</if>
			<if test="id != null">
				 id,
			</if>
			<if test="userName != null">
				 user_name,
			</if>
			<if test="password != null">
				 password,
			</if>
			<if test="age != null">
				 age,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="uuid!=null">
				 #{uuid},
			</if>
			<if test="id!=null">
				 #{id},
			</if>
			<if test="userName!=null">
				 #{userName},
			</if>
			<if test="password!=null">
				 #{password},
			</if>
			<if test="age!=null">
				 #{age},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.cn.hnust.pojo.UserTt">
		 UPDATE user_tt
 		 <set> 
			<if test="id != null">
				 id = #{id},
			</if>
			<if test="userName != null">
				 user_name = #{userName},
			</if>
			<if test="password != null">
				 password = #{password},
			</if>
			<if test="age != null">
				 age = #{age},
			</if>

 		 </set>
		 WHERE uuid = #{uuid}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.cn.hnust.pojo.UserTt">
		 UPDATE user_tt
		 SET 
			 id = #{id},
			 user_name = #{userName},
			 password = #{password},
			 age = #{age}
		 WHERE uuid = #{uuid}
	</update>

</mapper>